#gameCreationContainer {
  margin-top: 3rem;
  background-color: #ffeba5;

  .form-container, h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    button{
      background-color: rgba(255, 255, 255, 0.45);
    }
  }

  .form-container > * , mat-form-field {
    width: 50%;
  }

  hr {
    color: yellow;
  }
}



