//#boardContainer {
//
//  .rows {
//    display: flex;
//
//    .square {
//      width: 45px;
//      height: 45px;
//      border: solid 1.5px black;
//      background-color: white;
//
//      img {
//        width: 45px;
//        height: 45px;
//      }
//    }
//  }
//}


#boardContainer {
  //margin-left: 2rem;
  display: flex;
  flex-direction: column;

  .rows {
    display: flex;
    justify-content: center;

    .square {
      width: 45px;
      height: 45px;
      border: solid 1.5px black;
      background-color: white;

      img {
        width: 45px;
        height: 45px;
      }
    }
  }
}
