#notificationContainer {

  // bell icon
  #notificationButton {
    margin-right: 2rem;

    mat-icon {
      color: white;
      &:hover {
        color: gold;
      }

      &:disabled {
        color: white;
      }

      transform: scale(1.5);
    }
  }
}

// only way to change notification list layout
::ng-deep .cdk-overlay-container {
  .cdk-overlay-connected-position-bounding-box {
    .cdk-overlay-pane {
      .mat-menu-panel {
        .mat-menu-content {
          background-color: #ffeba5;

          #clearButton {
            width: 94%;
            color: white;
            font-size: 1.4rem;
            background-color: orangered;
            margin-bottom: 0.5rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }

          .notification {
            margin-bottom: 0.5rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            background-color: rgba(246, 209, 85, 0.92);
            cursor: pointer;

            mat-card-header {
              display: flex;
              justify-content: flex-start;

              .icon {
                font-size: 36px;
              }
            }

            mat-card-content {
              display: flex;
              flex-direction: column;
              justify-content: center;

              mat-card-actions {
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}

