<mat-card id="friendsContainer">

  <h1>Friend overview</h1>

  <mat-error class="statusCodeErrors" *ngIf="errorMessage | async">{{errorMessage | async}}</mat-error>
  <p *ngIf="succesResponse | async">{{succesResponse | async}}</p>
  <form [formGroup]="addFriendForm" (ngSubmit)="onAddFriend()" class="form-container">
    <!--userNotActivatedError-->
    <mat-form-field>
      <input matInput formControlName="username" placeholder="Enter username" required>
      <mat-error *ngIf="form.username.invalid">Please fill in a username</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit">Add Friend</button>
  </form>
</mat-card>


<mat-card id="friendOverview">

  <div *ngIf="friends.length > 0">
    <mat-card *ngFor="let f of friends" class="friends">
      <mat-card-content id="friendInfo">
        <img mat-card-avatar [src]=f.avatarBlob alt="avatar">
        <div>{{f.username}}</div>
      </mat-card-content>
    </mat-card>
  </div>

  <div id="noFriendsPlaceholder" *ngIf="friends.length == 0">
    <h1>Add some friends to create a friend overview</h1>
  </div>

</mat-card>

