<div id="replayDetailContainer">

  <div id="controlAndRackContainer">
    <!--switch between turns manually or automatically-->
    <mat-card id="controlsContainer">

      <div id="replayInfo" *ngIf="game">
        <h1>Replay {{game.title}}</h1>
        <h2>Turn: {{turnCounter + 1}}</h2>
        <div id="noTurnInfo" *ngIf="turnCounter < 0"></div>
      </div>

      <!--manual turn change-->
      <div id="controlButtons">
        <button mat-raised-button
                [disabled]="turnCounter == -1"
                (click)="onPreviousTurn()"><i class="material-icons">skip_previous</i>
        </button>
        <button mat-raised-button *ngIf="!started"
                [disabled]="0 == turnDtos.length || turnCounter >= turnDtos.length -1"
                (click)="playAll()">
          <i class="material-icons">play_arrow</i>
        </button>
        <button mat-raised-button *ngIf="started"
                [disabled]="0 == turnDtos.length || turnCounter >= turnDtos.length -1"
                (click)="pause()">
          <i class="material-icons" *ngIf="started">pause</i>
        </button>
        <button mat-raised-button
                [disabled]="turnCounter >= turnDtos.length -1"
                (click)="onNextTurn()"><i class="material-icons">skip_next</i>
        </button>
      </div>

      <!--slider-->
      <div id="controlSlider">
        <mat-slider [disabled]="turnCounter >= turnDtos.length -1"
                    [(value)]="speed"
                    (change)="onSliderChange()"
                    [thumbLabel]="true"
                    color="primary"
                    [min]="1"
                    [step]="1"
                    [max]="7">
        </mat-slider>
      </div>
    </mat-card>

    <!--todo: switch game.isOver exclamation marks-->
    <mat-card id="letterRackContainer">
      <section id="showLetterRack" *ngIf="game.isOver && turnCounter >= 0"> <!---->
        <div *ngFor="let r of currentTurn.racks;let i = index">
          <div class="opponentAvatar">
            <img
              [matTooltip]=r.player.username
              [matTooltipPosition]="'above'"
              mat-card-avatar
              [src]=r.player.avatarBlob alt="avatar">

            <div id="turnScore"
                 *ngIf="turnCounter >= 0">{{r.player.score}}
            </div>
          </div>

          <div class="opponentRack">
            <div class="letterContainer" *ngFor="let l of r.tiles">
              <img class="letter" [src]=tileUrls[l.letter.char] [alt]=l.letter.char>
            </div>
          </div>

        </div>
      </section>

      <div class="letterRackHidden" *ngIf="turnCounter == -1">
        <h1>Letterracks hidden until turn is made</h1>
      </div>

      <div class="letterRackHidden" *ngIf="!game.isOver && turnCounter > -1">
        <h1>Letterracks hidden until game is over</h1>
      </div>
    </mat-card>
  </div>

  <!--board updates with each turn-->
  <mat-card id="boardContainer">
    <section class="rows" *ngFor="let r of currentTurn.board; let i = index ">
      <section class="column" *ngFor="let c of currentTurn.board[i]; let j = index ">
        <div [id]="boardService.getCellId(c.x, c.y)"
             class="square"
             [ngStyle]="boardService.getStyle(c.x, c.y)"> <!--cell style-->
          <img class="tile" *ngIf="c.char != '_'" [src]=tileUrls[c.char] [alt]=c.char> <!--tile-->
        </div>
      </section>
    </section>
  </mat-card>

</div>
