<!--nav bar-->
<mat-toolbar color="primary">
  <mat-toolbar-row *ngIf="desktop">
    <!--home button-->
    <button mat-raised-button routerLink="/home" class="homeButton">
      <img src="https://icons-for-free.com/free-icons/png/1042/190306.png" alt="scrabble">
    </button>

    <!--fills space between buttons-->
    <span class="fill-space-left"></span>

    <div *ngIf="user | async">
      <button mat-raised-button routerLink="/newgame" routerLinkActive="active" class="mainNav">New Game</button>
      <button mat-raised-button routerLink="/overview" routerLinkActive="active" class="mainNav">My Games</button>
      <button mat-raised-button routerLink="/statistics" class="mainNav">Statistics</button>
      <button mat-raised-button routerLink="/replays" class="mainNav">Replays</button>
      <button mat-raised-button routerLink="/friends" class="mainNav">Friends</button>
    </div>

    <!--fills space between buttons-->
    <span class="fill-space-right"></span>

    <!--notifs-->
    <app-notifications *ngIf="user | async"></app-notifications>

    <!--security buttons-->
    <!--todo: edit profile-->
    <div class="username" *ngIf="authService.usernameSubject.asObservable() | async">{{authService.getUserName()}}</div>

    <button mat-stroked-button *ngIf="!(user |async)" routerLink="/login" class="securityNav">Login</button>
    <button mat-stroked-button *ngIf="user | async" (click)="logout()" id="logout" class="securityNav logout">Logout</button>
  </mat-toolbar-row>

  <!--mobile-->
  <mat-toolbar-row *ngIf="!desktop">
    <button mat-raised-button routerLink="/home" class="homeButton">
      <img src="https://icons-for-free.com/free-icons/png/1042/190306.png" alt="scrabble">
    </button>

    <!--fills space between buttons-->
    <span class="fill-space-left"></span>

    <app-notifications *ngIf="user | async"></app-notifications>

    <!--todo: edit profile-->
    <!--<button [disabled]="true" mat-raised-button routerLink="/account" *ngIf="user | async" class="securityNav">-->
    <div class="username" *ngIf="authService.usernameSubject.asObservable() | async">{{authService.getUserName()}}</div>
    <!--</button>-->

    <button id="menu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <div *ngIf="user | async">
        <button mat-menu-item routerLink="/newgame" routerLinkActive="active" class="mainNav">New Game</button>
        <button mat-menu-item routerLink="/overview" routerLinkActive="active" class="mainNav">My Games</button>
        <button mat-menu-item routerLink="/statistics" class="mainNav">Statistics</button>
        <button mat-menu-item routerLink="/replays" class="mainNav">Replays</button>
        <button mat-menu-item routerLink="/friends" class="mainNav">Friends</button>
      </div>
      <!--security buttons-->
      <button mat-menu-item *ngIf="!(user |async)" routerLink="/login" class="securityNav">Login</button>
      <button mat-menu-item *ngIf="user | async" (click)="logout()" class="securityNav logout">Logout</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<!--main content-->
<main id="maincontainer">
  <router-outlet></router-outlet>
</main>
