@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/quicksand/Quicksand-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FoxCat";
  src: url("../assets/fonts/Fox-Cat/FoxCat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

mat-toolbar {
  padding-top: 1rem;
  min-height: 6rem;
  margin-bottom: 1rem;
  grid-area: top;

  // "navbar"
  mat-toolbar-row {
    -webkit-margin-after: 10rem;
    -webkit-margin-before: 2rem;

    .fill-space-left {
      // This fills the remaining space to the left, by using flexbox.
      flex: 9 5 auto;
    }

    .fill-space-right {
      // This fills the remaining space to the right, by using flexbox.
      flex: 5 5 auto;
    }

    .username {
      font-size: 1.5rem;
      margin-right: 2rem;
    }

    #menu {
      transform: scale(2);
    }

    .homeButton {
      width: 5rem;
      height: 4.5rem;
      background-color: rgb(245, 245, 245);
      &:hover {
        background-color: gold;
      }

      img {
        width: 100%;
      }
    }

    .mainNav {
      font-family: Quicksand, monospace;
      background-color: rgb(245, 245, 245);
      width: 7rem;
      height: 3.5rem;
      margin-right: 1rem;

      &:hover {
        background-color: gold;
      }
    }


    #logout:hover {
      background-color: red;
    }

    .securityNav {
      margin-right: 1rem;
      width: 7rem;
      height: 3.5rem;
    }
  }
}

@media (min-width: 1000px) {
  mat-toolbar {
    mat-toolbar-row {
      .main-nav {
        width: 8rem;
        height: 3rem;
      }
    }
  }

  #maincontainer {
    grid-area: middle;
  }
}


.mat-stroked-button {
  background-color: rgb(245, 245, 245);
  color: blue;
}

