mat-card {
  background-color: #ffeba5;
  margin-top: 3rem;

  #statisticsContainer {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;

    .statisticContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .statistic {
        color: #3f51b5;
        font-size: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}

@media (min-width: 1000px) {
  mat-card {
    #statisticsContainer {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
