<mat-card id="overviewContainer">
  <h1>Overview of games</h1>


  <div class="overviewGamesCollection">
    <div class="gameCollection" *ngFor="let games of (allGamesSubject | async)">
      <h2>{{games.type}}</h2>
      <div class="gameContainer" *ngIf="games.games.length > 0">
        <mat-card class="game" *ngFor="let game of games.games">
          <!-- general info -->
          <mat-card-header>
            <img mat-card-avatar [src]=game.creator.avatarBlob alt="">
            <mat-card-title>{{game.title}}</mat-card-title>
            <mat-card-subtitle>
              Created by {{game.creator.username}}  | Turns: {{game.turns}}
            </mat-card-subtitle>
          </mat-card-header>

          <!--player data-->
          <mat-card-content>
            <div [matTooltip]=p.username [matTooltipPosition]="'above'" *ngFor="let p of game.players; let i = index">
              <div
                matBadge="{{
                game.currentlyPlaying === i
                && !game.isOver ? 'T' : null
                || game.winner === p.username
                 && game.isOver ? 'W' : null}}" [matBadgePosition]="'above'">

                <!--turn badge or winner badge-->
                <img mat-card-avatar [src]=p.avatarBlob alt="">
              </div>
            </div>
          </mat-card-content>

          <!--what we can do with the game element-->
          <!--todo: timer event, delete finished games-->
          <mat-card-actions>
            <button mat-raised-button [disabled]="!game.hasStarted || game.isOver"
                    (click)=onSelectOverviewGame(game.id)>Play
            </button>

          </mat-card-actions>
        </mat-card>
      </div>

      <div *ngIf="games.games.length == 0">
        <mat-card class="noGames">
          No games found for this status
        </mat-card>
      </div>

    </div>
  </div>
</mat-card>

