<mat-card class="gameContainer" *ngIf="gameObservable | async">

  <mat-card id="error" *ngIf="error">{{error}}</mat-card>
  <mat-card id="winner" *ngIf="isoverSubject | async">The winner is: {{winnerSubject | async}}!</mat-card>

  <app-chat
    [game]="game"
    [currentlyPlaying]="currentlyPlayingSubject | async"
    [scores]="(scoresSubject | async)">
  </app-chat>
  <!--letterrack-->
  <mat-card id="letterRackContainer">
    <div id="letterRack">
      <section *ngFor="let t of (rackSubject | async).tiles">
        <img class="tile"
             alt="Tile"
             [id]="getTileId(t)"
             [src]="t.letter.url"
             [draggable]="true"
             (dragstart)="drag($event, t)">
      </section>
    </div>

    <div id="rackControls">
      <button
        mat-raised-button
        [disabled]="game.players[currentlyPlayingSubject.getValue()].username !== authService.getUserName()
        || (isoverSubject | async)"
        (click)="onConfirmButtonClicked()"
        id="confirmButton"><i class="material-icons">done</i>
      </button>
      <button
        mat-raised-button color="warn"
        [disabled]="placedTiles.length == 0"
        (click)="onClearPlacedTiles()"
        id="clearButton"><i class="material-icons">delete_forever</i>
      </button>
    </div>
  </mat-card>

  <app-board (wordEvent)="formWordEvent($event)"
             [game]=game
             [cells]="(cellsSubject | async)"
             id="board"></app-board>
</mat-card>


